<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      @{/*<div id="logindisplay">
        <text>
           <b>@HttpContext.Current.User.Identity.Name</b>
        </text>
      </div>*/}
    </div>
  </div>
</div>