<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" >
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" ></script>
</head>

<body>
    @RenderBody()
</body>
</html>
