@{
    ViewBag.Title = "Главная";
}

<h2>Добро пожаловать!</h2>
<br />
@{/*<table>
    <tr>
        <th>Заголовок1</th>
        <th>Заголовок2</th>
    </tr>
    <tr>
        <td>asdfasdf</td>
        <td>asdfasd</td>
    </tr>
    <tr>
        <td>asdfasd</td>
        <td>asdf</td>
    </tr>
</table>
<br />
<br />
<br />
<input type="submit" value="Жми меня" title="Жми меня"/><br /><br />
<input type="text" /><br /><br />
@Html.ActionLink("Нет, жми меня", "Index", "Home")<br /><br />*/}
